<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "sd.myrunner"
        version   = "0.0.1">  

  <name>MyRunner</name>
  <description>Runner</description>
  <author email="i@stoyandelev.com" href="http://stoyandelev.com">Stoyan Delev</author>
  <content src="index.html"/>
  <access origin="*"/>

  <preference name="permissions"        value="none"/>
  
  <!-- Customize your app and platform with the preference element. -->
  <preference name="phonegap-version"           value="3.5.0" />
  <preference name="orientation"                value="portrait" />
  <preference name="target-device"              value="universal" />
  <preference name="fullscreen"                 value="true" />
  <preference name="webviewbounce"              value="true" />
  <preference name="prerendered-icon"           value="true" />
  <preference name="stay-in-webview"            value="false" />
  <preference name="ios-statusbarstyle"         value="black-opaque" />
  <preference name="detect-data-types"          value="true" />
  <preference name="exit-on-suspend"            value="false" />
  <preference name="show-splash-screen-spinner" value="true" />
  <preference name="auto-hide-splash-screen"    value="false" />
  <preference name="android-minSdkVersion"      value="7" />
  <preference name="android-installLocation"    value="auto" />
  <!-- <preference name="splash-screen-duration"   value="6000" />
   -->

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  
  <!--
  <gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />
  <gap:plugin name="org.apache.cordova.splashscreen" version="0.2.7" />
-->
  <gap:plugin name="org.apache.cordova.splashscreen" />
  <gap:plugin name="org.apache.cordova.geolocation" />


  <!-- iPhone / iPod Touch  -->
  <!--
  <icon src="res/icon/ios/icon-60.png"        gap:platform="ios" width="60" height="60" />
  <icon src="res/icon/ios/icon-60@2x.png"     gap:platform="ios" width="120" height="120" />
  <icon src="res/icon/ios/icon-76.png"        gap:platform="ios" width="76" height="76" />
  <icon src="res/icon/ios/icon-76@2x.png"     gap:platform="ios" width="152" height="152" />
  <icon src="res/icon/ios/icon-small.png"     gap:platform="ios" width="29" height="29" />
  <icon src="res/icon/ios/icon-small@2x.png"  gap:platform="ios" width="58" height="58" />
  <icon src="res/icon/ios/icon-40.png"        gap:platform="ios" width="40" height="40" />
  <icon src="res/icon/ios/icon-40@2x.png"     gap:platform="ios" width="80" height="80" />
  -->
  <!-- Android -->
  <icon src="res/icon/android/ldpi.png"   gap:platform="android" gap:qualifier="ldpi" />
  <icon src="res/icon/android/mdpi.png"   gap:platform="android" gap:qualifier="mdpi" />
  <icon src="res/icon/android/hdpi.png"   gap:platform="android" gap:qualifier="hdpi" />
  <icon src="res/icon/android/xhdpi.png"  gap:platform="android" gap:qualifier="xhdpi" />
  <!--
  <gap:splash src="res/screens/ios/iphone-portrait.png" gap:platform="ios" width="320" height="480" />
  <gap:splash src="res/screens/ios/iphone-portrait-2x.png" gap:platform="ios" width="640" height="960" />
  <gap:splash src="res/screens/ios/portrait-568-2x.png" gap:platform="ios" width="640" height="1136" />
  <gap:splash src="res/screens/ios/ipad-portrait.png" gap:platform="ios" width="768" height="1024" />
  <gap:splash src="res/screens/ios/ipad-portrait-2x.png" gap:platform="ios" width="1536" height="2048" />
  -->
  <gap:splash src="splash.png" />
  <gap:splash src="res/screens/android/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
  <gap:splash src="res/screens/android/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
  <gap:splash src="res/screens/android/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
  <gap:splash src="res/screens/android/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
</widget>